/* PHASE 4: Footer */

.footer {
  margin: 0 auto;
  width: 900px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  font-size: 14px;

}

.footer-copy {
  color: #aaa;
  display: flex;
  float: left;
  padding: 20px;

}

.footer-links {
  display: flex;
  float: right;
  padding: 20px;
}

.footer-links > li {
  padding-left: 20px;
}

.footer a {
  color: #aaa;
}

.footer a:hover {
  color: #000;
}
